<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.patientsList">Pacientes</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Agregar Paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalle Paciente</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label for="identidad">Identidad <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patients.idPacientes" name="Identidad" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="nombreCompleto">Nombre Completo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patients.Nombre_Paciente" name="Nombre_Completo" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                         <label for="puesto">Departamento <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patients.Departamento" name="Puesto" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label for="gender" class="gen-label">Género <span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [(ngModel)]="patients.Genero" name="Genero" value="Hombre" class="form-check-input" required> Hombre
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [(ngModel)]="patients.Genero" name="Genero" value="Mujer" class="form-check-input" required> Mujer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="celular">Celular <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patients.Celular" name="Celular" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="correo">Correo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email" [(ngModel)]="patients.Correo" name="Correo" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Crear Paciente</button>
                                        <button type="button" class="btn btn-primary cancel-form" (click)="onCancel()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
