<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.appointmentList">Citas </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Crear una Cita</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" id="printable-section">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <!-- Datos del Paciente -->
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles del Paciente</h4>
                                    </div>
                                </div>
                                <!-- Aquí empiezan los campos del paciente -->
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label for="identity">Identidad<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" (input)="onIdentityInput($event)" id="identity">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label for="name">Nombre Completo<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patientData.Nombre_Paciente" name="Nombre_Paciente" id="name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label for="gender" class="gen-label">Genero<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="Genero" [(ngModel)]="patientData.Genero" value="Hombre" class="form-check-input">Hombre
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="Genero" [(ngModel)]="patientData.Genero" value="Mujer" class="form-check-input">Mujer
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                         <label for="mobile">Celular <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="patientData.Celular" name="Celular" id="mobile">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="email">Correo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email" [(ngModel)]="patientData.Correo" name="Correo" id="email">
                                    </div>
                                </div>
                                <!-- Datos de la Cita -->
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de la Cita</h4>
                                    </div>
                                </div>
                                <!-- Aquí empiezan los campos de la cita -->
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="date">Fecha de la Cita <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text" [(ngModel)]="appointment.Fecha_Cita" name="Fecha_Cita" id="date" matInput [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Consulting">Doctor Consultor</label>
                                        <mat-select [(ngModel)]="appointment.Doctor_Consultor" name="Doctor" [ngModelOptions]="{standalone: true}" class="form-control select" placeholder="Seleccionar Doctor">
                                            <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                                {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="Diagnosis">Diagnóstico <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="appointment.Diagnostico" name="Diagnostico" id="Diagnosis"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Treatment">Tratamiento </label>
                                        <input class="form-control" type="text" [(ngModel)]="appointment.Tratamiento" name="Tratamiento" id="Treatment">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label for="Notes">Observaciones <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="appointment.Notas" name="Notas" id="Notes"></textarea>
                                    </div>
                                </div>
                                <!-- Fin de la sección que se imprime -->
                            </div>
                        </form>
                    </div>
                    <!-- Botones de acción -->
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="button" class="btn btn-primary submit-form me-2" (click)="onSubmit()">Crear Cita</button>
                            <button type="button" class="btn btn-primary cancel-form" (click)="router.navigate([routes.appointmentList])">Cancelar</button>
                            <button type="button" class="btn btn-primary imprimir-form" (click)="printSection()">Imprimir</button>
                        </div>
                    </div>
                    <!-- /Botones de acción -->
                </div>							
            </div>					
        </div>
    </div>
</div>
